.trigger {
  background: none;
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  color: #fff8e8;
  background-color: #3b3d4b;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  margin-top: calc(min(100vh, 100vw) * 0.025);
  margin-left: 1rem;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.overlay.visible {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* FIXIT: figure how to share a color pallette with the rest of the app */
  background-color: #fff8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  z-index: 100;
  display: none;
}

.modal.visible {
  display: flex;
}

button {
  font-family: inherit;
  border: none;
  font-size: larger;
  user-select: none;
}

.x_button_container {
  align-self: flex-end;
  background: none;
  padding: 0.25rem;
}

.x_button_container button {
  background: none;
}

.content {
  padding: 1rem;
}

.content ul {
  margin: 0;
  padding-left: 1rem;
  list-style-type: "★";
}

.content li {
  padding-left: 0.5rem;
}

.close_button_container {
  padding: 1rem;
}

.close_button_container button {
  color: #fff8e8;
  background-color: #3b3d4b;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
