:root {
  --bg-color: #fff8e8;
  --text-color: #3b3d4b;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  height: 100%;
  justify-content: space-evenly;
}

#p5sketch {
  touch-action: manipulation;
}

#title {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  user-select: none;
  color: var(--text-color);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem 0;
}

#game-controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#hint-button {
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  color: var(--bg-color);
  background-color: var(--text-color);
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  border-radius: 2rem;
  border: none;
  user-select: none;
  width: fit-content;
}

#hint-button:hover {
  background: #9d9b9a;
}

#hint-button:disabled {
  background: #9d9b9a;
}
